.type::after {
    content: '|';
    animation: typedjsBlink 1s infinite;
    -webkit-animation: typedjsBlink 1s infinite;
}

@keyframes typedjsBlink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes typedjsBlink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}